{% if site.duoshuo %}
<div class="comments">
    <div id="SOHUCS"></div>
    <script type="text/javascript">
        isPhone();
        function isPhone() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                addScript("http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyrQu5FDG&conf=prod_5e15624c0990f0d2b25da77ccca312d3",'changyan_mobile_js',0);
            } else {
                addScript('http://changyan.sohu.com/upload/changyan.js',0,1);
            }
        }
        function addScript(src,id,onload){
            var head= document.getElementsByTagName('head')[0];
            var script= document.createElement('script');
            script.type= 'text/javascript';
            script.src= src;
            script.charset = 'utf-8';
            if(id){
                script.id = id;
            }
            if(onload){
                script.onload = script.onreadystatechange = function() {
                    if (!this.readyState || this.readyState === "loaded" ||    this.readyState === "complete" ) {
                        window.changyan.api.config({
                            appid: 'cyrQu5FDG',
                            conf: 'prod_5e15624c0990f0d2b25da77ccca312d3'
                        });
                        script.onload = script.onreadystatechange = null;
                    } };
            }
            head.appendChild(script);
        }
{% endif %}