<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">

  <!--- Share on Qzone -->
  {% if site.share-links-active.qzone %}
    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ page.url }}&title={{ page.title }}: {{ page.subtitle }} | {{ site.description }}"
      class="btn btn-social-icon btn-qq" title="分享到QQ空间">
      <span class="fa fa-fw fa-qq" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on Weibo -->
  {% if site.share-links-active.weibo %}
    <a href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}: {{ page.subtitle }} | {{ site.description }}&ralateUid=battlecafe&language=zh_cn"
      class="btn btn-social-icon btn-weibo" title="分享到微博">
      <span class="fa fa-fw fa-weibo" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on VK -->
  {% if site.share-links-active.vk %}
    <a href="https://vk.com/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}: &description={{ page.subtitle }} | {{ site.description }}&image={% if page.share-img %}{{ page.share-img }}{% else %}{{ site.url }}{{ site.avatar }}{% endif %}"
      class="btn btn-social-icon btn-vk" title="分享到VK">
      <span class="fa fa-fw fa-vk" aria-hidden="true"></span>
    </a>
  {% endif %}
  
  <!--- Share on Twitter -->
  {% if site.share-links-active.twitter %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}&via=battlecafe"
      class="btn btn-social-icon btn-twitter" title="分享到Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on Facebook -->
  {% if site.share-links-active.facebook %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-facebook" title="分享到Facebook">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on Google Plus -->
  {% if site.share-links-active.google %}
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}&t={{ page.title }}"
      class="btn btn-social-icon btn-google" title="分享到Google+">
      <span class="fa fa-fw fa-google-plus" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on LinkedIn -->
  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}"
      class="btn btn-social-icon btn-linkedin" title="分享到LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
    </a>
  {% endif %}
  
</section>

{% endif %}
